@page
@model AcuERP_Demo.Areas.Demo.Pages.Contacts.DetailsModel

<div>
    <h4>CR_Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.BusinessAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.BusinessAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.ContactClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.ContactClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.ContactID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.ContactID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.OwnerEmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.OwnerEmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.ParentAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.ParentAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Phone1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Phone1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Phone1Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Phone1Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CR_Contact.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CR_Contact.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CR_Contact.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
